{{ define "main" }}
<article class="prose prose-lg mx-auto">
    <h1>{{ .Title }}</h1>
    <div class="flex items-center text-sm text-gray-500 mb-8">
        <time>{{ .Date.Format "January 2, 2006" }}</time>
        {{ with .Params.tags }}
            <span class="mx-2">•</span>
            <div class="space-x-2">
                {{ range . }}
                    <a href="/tags/{{ . | urlize }}" class="inline-block bg-gray-100 rounded px-2 py-1 hover:bg-gray-200 transition duration-300">{{ . }}</a>
                {{ end }}
            </div>
        {{ end }}
    </div>
    {{ .Content }}
</article>
{{ end }}
