{{ define "main" }}
    <!-- Posts and Blogmarks list -->
    <div class="space-y-10">
        {{ $pages := union (where .Site.RegularPages "Type" "posts") (where .Site.RegularPages "Type" "blogmarks") }}
        {{ $sortedPages := $pages.ByDate.Reverse }}
        {{ range $sortedPages.GroupByDate "January 2, 2006" }}
        <div class="mb-12">
            <h2 class="text-3xl font-bold mb-6 text-gray-800">{{ .Key }}</h2>
                    {{ range .Pages }}
                    <article class="mb-6 pb-6 border-b border-gray-200">
                        <div>
                            <h3 class="text-2xl font-bold mb-3">
                                {{ if eq .Type "blogmarks" }}
                                    <a href="{{ .Params.my_url }}" class="text-gray-900 hover:text-blue-600" target="_blank" rel="noopener noreferrer">
                                        {{ .Params.slug }}
                                    </a>
                                {{ else }}
                                    <a href="{{ .RelPermalink }}" class="text-gray-900 hover:text-blue-600">
                                        {{ .Title }}
                                    </a>
                                {{ end }}
                            </h3>
                            
                            <div class="mb-3">
                                {{ .Content }}
                            </div>
                            <div class="date-and-tags flex items-center text-sm text-gray-500 mb-2">
                                <time>{{ .Date.Format "3:04 PM" }}</time>
                                {{ with .Params.tags }}
                                    <span class="mx-2">•</span>
                                    <div class="space-x-2">
                                        {{ range . }}
                                            <a href="/tags/{{ . | urlize }}" class="inline-block bg-gray-100 rounded px-2 py-1 hover:bg-gray-200 transition duration-300">{{ . }}</a>
                                        {{ end }}
                                    </div>
                                {{ end }}
                            </div>
                        </div>
                    </article>
                    {{ end }}
        </div>
        {{ end }}
    </div>

    {{ if gt (len $pages) 10 }}
        <div class="mt-8 text-center">
            <a href="/posts" class="inline-block bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition duration-300">
                View All Posts
            </a>
        </div>
    {{ end }}
{{ end }}