{{ define "main" }}
    <!-- Posts list -->
    <div class="space-y-10">
        {{ $pages := where .Site.RegularPages "Type" "posts" }}
        {{ range $pages.GroupByDate "January 2, 2006" }}
        <div class="mb-12">
            <h2 class="text-3xl font-bold mb-6 text-gray-800">{{ .Key }}</h2>
                    {{ range first 10 .Pages }}
                    <article class="mb-6">
                        <div>
                            <h3 class="text-2xl font-bold mb-3">
                                <a href="{{ .RelPermalink }}" class="text-gray-900 hover:text-blue-600">
                                    {{ .Title }}
                                </a>
                            </h3>
                            
                            <div class="text-gray-600 prose prose-lg">
                                {{ .Content }}
                            </div>
                            <div class="date-and-tags flex items-center text-sm text-gray-500 mb-2">
                                <time>{{ .Date.Format "3:04 PM" }}</time>
                                {{ with .Params.tags }}
                                    <span class="mx-2">•</span>
                                    <div class="space-x-2">
                                        {{ range . }}
                                            <a href="/tags/{{ . | urlize }}" class="inline-block bg-gray-100 rounded px-2 py-1 hover:bg-gray-200 transition duration-300">{{ . }}</a>
                                        {{ end }}
                                    </div>
                                {{ end }}
                            </div>
                        </div>
                    </article>
                    {{ end }}
        </div>
        {{ end }}
    </div>

    {{ if gt (len $pages) 10 }}
        <div class="mt-8 text-center">
            <a href="/posts" class="inline-block bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition duration-300">
                View All Posts
            </a>
        </div>
    {{ end }}
{{ end }}